#available-change > h2 {
	display: inline;
 
}

.collapsible {
  cursor: pointer;
  padding: 10px;
  
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
}